<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"
        tools:targetApi="s" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.NextcloudPasswords"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.WebLoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.weblogin" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.login" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.settings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.about" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.autofill.NCPAutofillService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
        </service>
    </application>

</manifest>